.CodeMirror {
    font-size: .8em;
    height: auto;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}

details {
    background: #eee;
    cursor: pointer;
    margin: 5px 0 5px 0;
    padding: 7px;
}

ul {
    list-style: none
}